/* */

  /*clear default wiki settings */
  #home_logo,
  #sideMenu,
  #sideMenu,
  #top_title,
  .patrollink {
    display: none;
  }

  #content {
    margin-left: 0px;
    margin-top: -7px;
    padding: 0px;
    width: 100%;
  }

  body {
    background-color: white;
  }

  #bodyContent h1,
  #bodyContent h2,
  #bodyContent h3,
  #bodyContent h4,
  #bodyContent h5 {
    margin-bottom: 0px;
  }

  #bodyContent a[href ^="https://"],
  .link-https {
    padding-right: 0px;
  }


  /*general page wrapper */
  .page_wrapper {
    background-color: white;
    display: block;
    width: 100%;
  }

  /*center general content of the page */
  .page_center {
    margin: auto;
    max-width: 1600px;
    width: 95%;
  }


  /*general poster wrapper */
  .poster_w {
    float: left;
    margin: 1%;
    padding: 0px;
    width: 90%;
  }

  /*rows*/
  .poster_w.content .row {
    clear: both;
    float: left;
    width: 1440px;
    height: 810px;
    cursor: pointer;
  }


  /*sections */
  .poster_w.content .row .section,
  .poster_w.display #section_text .subsection {
    float: left;
  }

  .poster_h.content .line .section,
  .poster_h.display #section_text .subsection {
    float: left;
  }


  /*different section sizes*/
  .poster_w.content .row .section.one,
  .poster_w.display #section_text .subsection.one {
    width: 1440px;
    height: 200px;
    display: center;
  }

  .poster_w.content .row .section.two,
  .poster_w.display #section_text .subsection.two {
    width: 1440px;
    height: 160px;
    display: center;
  }

  .poster_w.content .row .section.three,
  .poster_w.display #section_text .subsection.three {
    width: 1440px;
    height: 450px;
    display: center;
  }

  .poster_w.content .row .section.line,
  .poster_w.display #section_text .subsection.line {
    width: 480px;
    height: 450px;
  }

  .poster_w.content .column .section.box,
  .poster_w.display #section_text .subsection.box {
    width: 480px;
    height: 175px;
  }


  /*hide title, text and highlight images  by default*/
  .poster_w.content .row .section .info {
    display: none;
  }

  .poster_w.content .column .section .info {
    display: none;
  }

  /*font family freeroad*/
  @font-face {
    font-family: Freeroad_Regular;
    src: url(https://2020.igem.org/wiki/images/9/9d/Freeroad_Regular.ttf);
  }


  /*font family freeroad bold */
  @font-face {
    font-family: Freeroad_Bold;
    src: url(https://2020.igem.org/wiki/images/9/94/Freeroad_Bold.ttf);
  }


  /* styling titles h1, h2, h3, h4, h5, h6 */
  .poster_w h1 {
    font-size: 32px;
  }

  .poster_w h2 {
    font-size: 28px;
  }

  .poster_w h3 {
    font-size: 22px;
  }

  .poster_w h4 {
    font-size: 18px;
  }

  .poster_w h5 {
    font-size: 14px;
  }

  .poster_w h6 {
    font-size: 16px;
  }


  /* styling for the titles h1, h2*/
  .poster_w h1,
  .poster_w h2 {
    border-bottom: 0px;
    color: #131C4E;
    font-family: Freeroad_Bold, Arial;
    line-height: initial;
  }


  /* styling for the titles h3, h4, h5, h6 */
  .poster_w h3,
  .poster_w h4,
  .poster_w h5,
  .poster_w h6 {
    border-bottom: 0px;
    color: #0069A6;
    font-family: Freeroad_Regular, Arial;
    line-height: initial;
  }


  /* font size for text and lists */
  .poster_w p,
  .poster_w ol,
  .poster_w ul {
    font-size: 16px;
  }

  /*styling for lists */
  .poster_w ul {
    font-family: Arial;
    list-style: disc;
    padding: 0px;
  }

  /*styling for all images */
  .poster_w img {
    margin-bottom: 0px;
  }

  /*styling for when the user hovers on the image on the content side*/
  .poster_w.content img:hover {
    opacity: 75%;
  }

  .poster_w.display img:hover {
    opacity: 100%;
  }


  /*class for clearing between sections */
  .poster_w .clear {
    clear: both;
  }


  /*mobile*/

  @media only screen and (max-width: 850px) {
    .poster_w {
      width: 100%;
    }
  }